<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/vue.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/vue-resource.js"></script>
</head>
<body>

<div class="container" id="app">
    {{locat}}
    {{error}}

    <div class="row">
        <div id="title">
            <h1>ZLunch</h1>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Time</th>
                <th>Meeting point</th>
                <th>Participants</th>
                <th>Subscribe</th>
            </tr>
            </thead>
            <tbody>
            <tr class="result" data-th-each="lunch : ${lunches}">
                <td>[[${lunch.name}]]</td>
                <td>[[${lunch.location.name}]]</td>
                <td>[[${lunch.startTime}]]</td>
                <td>[[${lunch.meetingPoint}]]</td>
                <td>...</td>
                <td>
                    <form action="/participate" method="post">
                        <input type="hidden" name="lunchId" th:value="${lunch.id}">
                        <div class="form-group">
                            <label for="users">Select user</label>
                            <select class="form-control" name="userId" id="users">
                                <option data-th-each="user : ${users}"
                                        th:value="${user.id}"
                                        th:text="${user.name}">
                                </option>
                            </select>
                        </div>
                        <button type="submit">+</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <form action="#" th:action="@{/}" th:object="${lunch}" method="post" autocomplete="off">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" id="name" th:field="*{name}" placeholder="Name">
            </div>
            <!--<div class="form-group">-->
            <!--<label for="time">Time</label>-->
            <!--<input class="form-control" id="time" name="time" placeholder="Time" >-->
            <!--</div>-->
            <div class="form-group">
                <label for="meetingPoint">Meeting Point</label>
                <input class="form-control" id="meetingPoint" th:field="*{meetingPoint}" placeholder="Meeting Point">
            </div>
            <div class="form-group">
                <label for="locations">Select location</label>
                <select class="form-control" th:field="*{locationId}" id="locations">
                    <option data-th-each="loc : ${locations}" th:value="${loc.id}" th:text="${loc.name}">
                    </option>
                </select>
            </div>


            <button type="submit" class="btn btn-primary">Create new lunch</button>
        </form>
    </div>
</div>


<div class="toast" id="toast" role="alert" aria-live="polite" aria-atomic="true" data-delay="3000">
    <div role="alert" aria-live="assertive" aria-atomic="true">...</div>
</div>

<script src="/js/index.js"></script>
</body>
</html>
